In [1]:
# Notebook to read in a CSV of the scheds and output a 
# sched file and SQL insert statements
# JR - 2023
import sys
import os
import math
import teams

# The sched was obtained from https://www.espn.com/nfl/schedulegrid, 
# converted to CSV then processed into our sche file format.
# NOTE: In 2023 needed to temp change WAS to WSH and LVR to LV in teams.py

In [2]:
YEAR = 2023
SCHED_DIR = os.path.join(os.getcwd(), "scheds")
FILENAME = os.path.join(SCHED_DIR, f"sched_{YEAR}.csv")
SQL_FILENAME = os.path.join(SCHED_DIR, f"sched_{YEAR}.sql")
SCHED_FILENAME = os.path.join(SCHED_DIR, f"sched_{YEAR}.txt")

In [3]:
def do(year, filename, sql_filename, sched_filename):

    f = open(filename, 'r')
    lines = f.readlines()
    sched = {}
    
    year_abbr = str(year)[2:]

    print("WSH: %d" % teams.name_to_num("WSH"))

    for line in lines:
        #print(line)
        parts = line.rstrip().split()
        #print(parts[0] +  "," +  parts[17])

        home_name = parts[0]
        home_num = teams.name_to_num(parts[0])
        print(home_name, home_num)
        games = []
        
        # Need to stip any white spaces!
        for i in range(len(parts)):
            parts[i] = parts[i].strip()
        
        for opp in parts[1:]:

            away = False
            abbrev = opp
            if abbrev[:1] == '@':
                away = True
                abbrev = abbrev[1:]

            team_num = teams.name_to_num(abbrev)
            #print(abbrev, team_num)

            if(away == True):
                games.append(-team_num)
            else:
                games.append(team_num)

            sched[home_num] = games

        
    #print(sched)
    #print(len(sched))

    #print("%s      1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18"%year)
    print(sched)
    f_out = open(sql_filename, "w")
    for t in range(1,33):
        week = 0
        print(t)
        print(sched.keys())
        print(len(sched.keys()))
        for opp in sched[t][:18]:
            week += 1
            if opp == 0:
                continue
            print("INSERT INTO scheds set year=%d, team=%d, week=%d, opponent=%d;"%(year, t, week,opp))
            f_out.write("INSERT INTO scheds set year=%d, team=%d, week=%d, opponent=%d;\n"%(year, t, week,opp))
    f_out.close()
            
        
    f_out = open(sched_filename, "w")
    print(f"{year}      1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18")
    f_out.write(f"{year}      1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18\n")
    for t in range(1,33):
        week = 0
        print(f"{teams.num_to_abbrev(t):4} {t:2} ", end='')
        f_out.write(f"{teams.num_to_abbrev(t):4} {t:2} ")
        for opp in sched[t][:18]:
            week += 1
            if week < 18:
                print(f"{opp:3},", end='')
                f_out.write(f"{opp:3},")
            else:
                print(f"{opp:3}", end='')
                f_out.write(f"{opp:3}")
        print("")
        f_out.write("\n")
    print("")
    f_out.write("\n")
    print("37526618227845253158164844313767")
    f_out.write("37526618227845253158164844313767\n")
    print("11211122222211211212121121111211")
    f_out.write("11211122222211211212121121111211\n")
        
        
    return

In [4]:
do(YEAR, FILENAME, SQL_FILENAME, SCHED_FILENAME)

WSH: 28
ARI 23
ATL 1
BAL 6
BUF 3
CAR 29
CHI 4
CIN 5
CLE 31
DAL 7
DEN 8
DET 9
GB 10
HOU 32
IND 2
JAX 30
KC 12
LV 20
LAR 13
LAC 24
MIA 14
MIN 15
NE 16
NO 17
NYG 18
NYJ 19
PHI 21
PIT 22
SF 25
SEA 26
TB 27
TEN 11
WSH 28
{23: [-28, 18, 7, -25, 5, -13, -26, 6, -31, 1, -32, 13, -22, 0, 25, -4, -21, 26], 1: [29, 10, -9, -30, 32, 28, -27, -11, 15, -23, 0, 17, -19, 27, -29, 2, -4, -17], 6: [32, -5, 2, -31, -22, -11, 9, -23, 26, 31, 5, -24, 0, 13, -30, -25, 14, 22], 3: [-19, 20, -28, 14, 30, 18, -16, 27, -5, 8, 19, -21, 0, -12, 7, -24, 16, -14], 29: [-1, 17, -26, 15, -9, -14, 0, 32, 2, -4, 7, -11, -27, -17, 1, 10, -30, 27], 4: [10, -27, -12, 8, -28, 15, 20, -24, -17, 29, -9, -15, 0, 9, -31, 23, 1, -10], 5: [-31, 6, 13, -11, -23, 26, 0, -25, 3, 32, -6, 22, -30, 2, 15, -22, -12, 31], 31: [5, -22, 11, 6, 0, 25, -2, -26, 23, -6, 22, -8, -13, 30, 4, -32, 19, -5], 7: [-18, 19, -23, 16, -25, -24, 0, 13, -21, 18, -29, 28, 26, 21, -3, -14, 9, -28], 8: [20, 28, -14, -4, 19, -12, 10, 12, 0, -3, 15, 31, -32, -24, -9, 16, 24, -20], 9: [-12, 26, 1, -10, 29, -27, -6, 20, 0, -24, 4, 10, -17, -4, 8, -15, -7, 15], 10: [-4, -1, 17, 9, -20, 0, -8, 15, 13, -22, 24, -9, 12, -18, 27, -29, -15, 4], 32: [-6, 2, -30, 22, -1, 17, 0, -29, 27, -5, 23, 30, 8, -19, -11, 31, 11, -2], 2: [30, -32, -6, 13, 11, -30, 31, 17, -29, -16, 0, 27, -11, -5, 22, -1, 20, 32], 30: [-2, 12, 32, 1, -3, 2, -17, -22, 0, 25, 11, -32, 5, -31, 6, -27, 29, -11], 12: [9, -30, 4, -19, -15, 8, 24, -8, 14, 0, 21, -20, -10, 3, -16, 20, 5, -24], 20: [-8, -3, 22, -24, 10, 16, -4, -9, 18, 19, -14, 12, 0, 15, 24, -12, -2, 8], 13: [-26, 25, -5, -2, 21, 23, 22, -7, -10, 0, 26, -23, 31, -6, 28, 17, -18, -25], 24: [14, -11, -15, 20, 0, 7, -12, 4, -19, 9, -10, 6, -16, 8, -20, 3, -8, 12], 14: [-24, -16, 8, -3, 18, 29, -21, 16, -12, 0, 20, -19, -28, 11, 19, 7, -6, 3], 15: [27, -21, 24, -29, 12, -4, 25, -10, -1, 17, -8, 4, 0, -20, -5, 9, 10, -9], 16: [21, 14, -19, -7, 17, -20, 3, -14, 28, 2, 0, -18, 24, -22, 12, -8, -3, 19], 17: [11, -29, -10, 27, -16, -32, 30, -2, 4, -15, 0, -1, 9, 29, 18, -13, -27, 1], 18: [7, -23, -25, 26, -14, -3, 28, 19, -20, -7, -28, 16, 0, 10, -17, -21, 13, 21], 19: [3, -7, 16, 12, -8, 21, 0, -18, 24, -20, -3, 14, 1, 32, -14, 28, -31, -16], 21: [-16, 15, -27, 28, -13, -19, 14, -28, 7, 0, -12, 3, 25, -7, -26, 18, 23, -18], 22: [25, 31, -20, -32, 6, 0, -13, 30, 11, 10, -31, -5, 23, 16, -2, 5, -26, -6], 25: [-22, -13, 18, 23, 7, -31, -15, 5, 0, -30, 27, -26, -21, 26, -23, 6, -28, 13], 26: [13, -9, 29, -18, 0, -5, 23, 31, -6, 28, -13, 25, -7, -25, 21, -11, 22, -23], 27: [-15, 4, 21, -17, 0, 9, 1, -3, -32, 11, -25, -2, 29, -1, -10, 30, 17, -29], 11: [-17, 24, -31, 5, -2, 6, 0, 1, -22, -27, -30, 29, 2, -14, 32, 26, -32, 30], 28: [23, -8, 3, -21, 4, -1, -18, 21, -16, -26, 18, -7, 14, 0, -13, -19, 25, -1]}
1
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=1, week=1, opponent=29;
INSERT INTO scheds set year=2023, team=1, week=2, opponent=10;
INSERT INTO scheds set year=2023, team=1, week=3, opponent=-9;
INSERT INTO scheds set year=2023, team=1, week=4, opponent=-30;
INSERT INTO scheds set year=2023, team=1, week=5, opponent=32;
INSERT INTO scheds set year=2023, team=1, week=6, opponent=28;
INSERT INTO scheds set year=2023, team=1, week=7, opponent=-27;
INSERT INTO scheds set year=2023, team=1, week=8, opponent=-11;
INSERT INTO scheds set year=2023, team=1, week=9, opponent=15;
INSERT INTO scheds set year=2023, team=1, week=10, opponent=-23;
INSERT INTO scheds set year=2023, team=1, week=12, opponent=17;
INSERT INTO scheds set year=2023, team=1, week=13, opponent=-19;
INSERT INTO scheds set year=2023, team=1, week=14, opponent=27;
INSERT INTO scheds set year=2023, team=1, week=15, opponent=-29;
INSERT INTO scheds set year=2023, team=1, week=16, opponent=2;
INSERT INTO scheds set year=2023, team=1, week=17, opponent=-4;
INSERT INTO scheds set year=2023, team=1, week=18, opponent=-17;
2
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=2, week=1, opponent=30;
INSERT INTO scheds set year=2023, team=2, week=2, opponent=-32;
INSERT INTO scheds set year=2023, team=2, week=3, opponent=-6;
INSERT INTO scheds set year=2023, team=2, week=4, opponent=13;
INSERT INTO scheds set year=2023, team=2, week=5, opponent=11;
INSERT INTO scheds set year=2023, team=2, week=6, opponent=-30;
INSERT INTO scheds set year=2023, team=2, week=7, opponent=31;
INSERT INTO scheds set year=2023, team=2, week=8, opponent=17;
INSERT INTO scheds set year=2023, team=2, week=9, opponent=-29;
INSERT INTO scheds set year=2023, team=2, week=10, opponent=-16;
INSERT INTO scheds set year=2023, team=2, week=12, opponent=27;
INSERT INTO scheds set year=2023, team=2, week=13, opponent=-11;
INSERT INTO scheds set year=2023, team=2, week=14, opponent=-5;
INSERT INTO scheds set year=2023, team=2, week=15, opponent=22;
INSERT INTO scheds set year=2023, team=2, week=16, opponent=-1;
INSERT INTO scheds set year=2023, team=2, week=17, opponent=20;
INSERT INTO scheds set year=2023, team=2, week=18, opponent=32;
3
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=3, week=1, opponent=-19;
INSERT INTO scheds set year=2023, team=3, week=2, opponent=20;
INSERT INTO scheds set year=2023, team=3, week=3, opponent=-28;
INSERT INTO scheds set year=2023, team=3, week=4, opponent=14;
INSERT INTO scheds set year=2023, team=3, week=5, opponent=30;
INSERT INTO scheds set year=2023, team=3, week=6, opponent=18;
INSERT INTO scheds set year=2023, team=3, week=7, opponent=-16;
INSERT INTO scheds set year=2023, team=3, week=8, opponent=27;
INSERT INTO scheds set year=2023, team=3, week=9, opponent=-5;
INSERT INTO scheds set year=2023, team=3, week=10, opponent=8;
INSERT INTO scheds set year=2023, team=3, week=11, opponent=19;
INSERT INTO scheds set year=2023, team=3, week=12, opponent=-21;
INSERT INTO scheds set year=2023, team=3, week=14, opponent=-12;
INSERT INTO scheds set year=2023, team=3, week=15, opponent=7;
INSERT INTO scheds set year=2023, team=3, week=16, opponent=-24;
INSERT INTO scheds set year=2023, team=3, week=17, opponent=16;
INSERT INTO scheds set year=2023, team=3, week=18, opponent=-14;
4
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=4, week=1, opponent=10;
INSERT INTO scheds set year=2023, team=4, week=2, opponent=-27;
INSERT INTO scheds set year=2023, team=4, week=3, opponent=-12;
INSERT INTO scheds set year=2023, team=4, week=4, opponent=8;
INSERT INTO scheds set year=2023, team=4, week=5, opponent=-28;
INSERT INTO scheds set year=2023, team=4, week=6, opponent=15;
INSERT INTO scheds set year=2023, team=4, week=7, opponent=20;
INSERT INTO scheds set year=2023, team=4, week=8, opponent=-24;
INSERT INTO scheds set year=2023, team=4, week=9, opponent=-17;
INSERT INTO scheds set year=2023, team=4, week=10, opponent=29;
INSERT INTO scheds set year=2023, team=4, week=11, opponent=-9;
INSERT INTO scheds set year=2023, team=4, week=12, opponent=-15;
INSERT INTO scheds set year=2023, team=4, week=14, opponent=9;
INSERT INTO scheds set year=2023, team=4, week=15, opponent=-31;
INSERT INTO scheds set year=2023, team=4, week=16, opponent=23;
INSERT INTO scheds set year=2023, team=4, week=17, opponent=1;
INSERT INTO scheds set year=2023, team=4, week=18, opponent=-10;
5
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=5, week=1, opponent=-31;
INSERT INTO scheds set year=2023, team=5, week=2, opponent=6;
INSERT INTO scheds set year=2023, team=5, week=3, opponent=13;
INSERT INTO scheds set year=2023, team=5, week=4, opponent=-11;
INSERT INTO scheds set year=2023, team=5, week=5, opponent=-23;
INSERT INTO scheds set year=2023, team=5, week=6, opponent=26;
INSERT INTO scheds set year=2023, team=5, week=8, opponent=-25;
INSERT INTO scheds set year=2023, team=5, week=9, opponent=3;
INSERT INTO scheds set year=2023, team=5, week=10, opponent=32;
INSERT INTO scheds set year=2023, team=5, week=11, opponent=-6;
INSERT INTO scheds set year=2023, team=5, week=12, opponent=22;
INSERT INTO scheds set year=2023, team=5, week=13, opponent=-30;
INSERT INTO scheds set year=2023, team=5, week=14, opponent=2;
INSERT INTO scheds set year=2023, team=5, week=15, opponent=15;
INSERT INTO scheds set year=2023, team=5, week=16, opponent=-22;
INSERT INTO scheds set year=2023, team=5, week=17, opponent=-12;
INSERT INTO scheds set year=2023, team=5, week=18, opponent=31;
6
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=6, week=1, opponent=32;
INSERT INTO scheds set year=2023, team=6, week=2, opponent=-5;
INSERT INTO scheds set year=2023, team=6, week=3, opponent=2;
INSERT INTO scheds set year=2023, team=6, week=4, opponent=-31;
INSERT INTO scheds set year=2023, team=6, week=5, opponent=-22;
INSERT INTO scheds set year=2023, team=6, week=6, opponent=-11;
INSERT INTO scheds set year=2023, team=6, week=7, opponent=9;
INSERT INTO scheds set year=2023, team=6, week=8, opponent=-23;
INSERT INTO scheds set year=2023, team=6, week=9, opponent=26;
INSERT INTO scheds set year=2023, team=6, week=10, opponent=31;
INSERT INTO scheds set year=2023, team=6, week=11, opponent=5;
INSERT INTO scheds set year=2023, team=6, week=12, opponent=-24;
INSERT INTO scheds set year=2023, team=6, week=14, opponent=13;
INSERT INTO scheds set year=2023, team=6, week=15, opponent=-30;
INSERT INTO scheds set year=2023, team=6, week=16, opponent=-25;
INSERT INTO scheds set year=2023, team=6, week=17, opponent=14;
INSERT INTO scheds set year=2023, team=6, week=18, opponent=22;
7
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=7, week=1, opponent=-18;
INSERT INTO scheds set year=2023, team=7, week=2, opponent=19;
INSERT INTO scheds set year=2023, team=7, week=3, opponent=-23;
INSERT INTO scheds set year=2023, team=7, week=4, opponent=16;
INSERT INTO scheds set year=2023, team=7, week=5, opponent=-25;
INSERT INTO scheds set year=2023, team=7, week=6, opponent=-24;
INSERT INTO scheds set year=2023, team=7, week=8, opponent=13;
INSERT INTO scheds set year=2023, team=7, week=9, opponent=-21;
INSERT INTO scheds set year=2023, team=7, week=10, opponent=18;
INSERT INTO scheds set year=2023, team=7, week=11, opponent=-29;
INSERT INTO scheds set year=2023, team=7, week=12, opponent=28;
INSERT INTO scheds set year=2023, team=7, week=13, opponent=26;
INSERT INTO scheds set year=2023, team=7, week=14, opponent=21;
INSERT INTO scheds set year=2023, team=7, week=15, opponent=-3;
INSERT INTO scheds set year=2023, team=7, week=16, opponent=-14;
INSERT INTO scheds set year=2023, team=7, week=17, opponent=9;
INSERT INTO scheds set year=2023, team=7, week=18, opponent=-28;
8
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=8, week=1, opponent=20;
INSERT INTO scheds set year=2023, team=8, week=2, opponent=28;
INSERT INTO scheds set year=2023, team=8, week=3, opponent=-14;
INSERT INTO scheds set year=2023, team=8, week=4, opponent=-4;
INSERT INTO scheds set year=2023, team=8, week=5, opponent=19;
INSERT INTO scheds set year=2023, team=8, week=6, opponent=-12;
INSERT INTO scheds set year=2023, team=8, week=7, opponent=10;
INSERT INTO scheds set year=2023, team=8, week=8, opponent=12;
INSERT INTO scheds set year=2023, team=8, week=10, opponent=-3;
INSERT INTO scheds set year=2023, team=8, week=11, opponent=15;
INSERT INTO scheds set year=2023, team=8, week=12, opponent=31;
INSERT INTO scheds set year=2023, team=8, week=13, opponent=-32;
INSERT INTO scheds set year=2023, team=8, week=14, opponent=-24;
INSERT INTO scheds set year=2023, team=8, week=15, opponent=-9;
INSERT INTO scheds set year=2023, team=8, week=16, opponent=16;
INSERT INTO scheds set year=2023, team=8, week=17, opponent=24;
INSERT INTO scheds set year=2023, team=8, week=18, opponent=-20;
9
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=9, week=1, opponent=-12;
INSERT INTO scheds set year=2023, team=9, week=2, opponent=26;
INSERT INTO scheds set year=2023, team=9, week=3, opponent=1;
INSERT INTO scheds set year=2023, team=9, week=4, opponent=-10;
INSERT INTO scheds set year=2023, team=9, week=5, opponent=29;
INSERT INTO scheds set year=2023, team=9, week=6, opponent=-27;
INSERT INTO scheds set year=2023, team=9, week=7, opponent=-6;
INSERT INTO scheds set year=2023, team=9, week=8, opponent=20;
INSERT INTO scheds set year=2023, team=9, week=10, opponent=-24;
INSERT INTO scheds set year=2023, team=9, week=11, opponent=4;
INSERT INTO scheds set year=2023, team=9, week=12, opponent=10;
INSERT INTO scheds set year=2023, team=9, week=13, opponent=-17;
INSERT INTO scheds set year=2023, team=9, week=14, opponent=-4;
INSERT INTO scheds set year=2023, team=9, week=15, opponent=8;
INSERT INTO scheds set year=2023, team=9, week=16, opponent=-15;
INSERT INTO scheds set year=2023, team=9, week=17, opponent=-7;
INSERT INTO scheds set year=2023, team=9, week=18, opponent=15;
10
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=10, week=1, opponent=-4;
INSERT INTO scheds set year=2023, team=10, week=2, opponent=-1;
INSERT INTO scheds set year=2023, team=10, week=3, opponent=17;
INSERT INTO scheds set year=2023, team=10, week=4, opponent=9;
INSERT INTO scheds set year=2023, team=10, week=5, opponent=-20;
INSERT INTO scheds set year=2023, team=10, week=7, opponent=-8;
INSERT INTO scheds set year=2023, team=10, week=8, opponent=15;
INSERT INTO scheds set year=2023, team=10, week=9, opponent=13;
INSERT INTO scheds set year=2023, team=10, week=10, opponent=-22;
INSERT INTO scheds set year=2023, team=10, week=11, opponent=24;
INSERT INTO scheds set year=2023, team=10, week=12, opponent=-9;
INSERT INTO scheds set year=2023, team=10, week=13, opponent=12;
INSERT INTO scheds set year=2023, team=10, week=14, opponent=-18;
INSERT INTO scheds set year=2023, team=10, week=15, opponent=27;
INSERT INTO scheds set year=2023, team=10, week=16, opponent=-29;
INSERT INTO scheds set year=2023, team=10, week=17, opponent=-15;
INSERT INTO scheds set year=2023, team=10, week=18, opponent=4;
11
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=11, week=1, opponent=-17;
INSERT INTO scheds set year=2023, team=11, week=2, opponent=24;
INSERT INTO scheds set year=2023, team=11, week=3, opponent=-31;
INSERT INTO scheds set year=2023, team=11, week=4, opponent=5;
INSERT INTO scheds set year=2023, team=11, week=5, opponent=-2;
INSERT INTO scheds set year=2023, team=11, week=6, opponent=6;
INSERT INTO scheds set year=2023, team=11, week=8, opponent=1;
INSERT INTO scheds set year=2023, team=11, week=9, opponent=-22;
INSERT INTO scheds set year=2023, team=11, week=10, opponent=-27;
INSERT INTO scheds set year=2023, team=11, week=11, opponent=-30;
INSERT INTO scheds set year=2023, team=11, week=12, opponent=29;
INSERT INTO scheds set year=2023, team=11, week=13, opponent=2;
INSERT INTO scheds set year=2023, team=11, week=14, opponent=-14;
INSERT INTO scheds set year=2023, team=11, week=15, opponent=32;
INSERT INTO scheds set year=2023, team=11, week=16, opponent=26;
INSERT INTO scheds set year=2023, team=11, week=17, opponent=-32;
INSERT INTO scheds set year=2023, team=11, week=18, opponent=30;
12
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=12, week=1, opponent=9;
INSERT INTO scheds set year=2023, team=12, week=2, opponent=-30;
INSERT INTO scheds set year=2023, team=12, week=3, opponent=4;
INSERT INTO scheds set year=2023, team=12, week=4, opponent=-19;
INSERT INTO scheds set year=2023, team=12, week=5, opponent=-15;
INSERT INTO scheds set year=2023, team=12, week=6, opponent=8;
INSERT INTO scheds set year=2023, team=12, week=7, opponent=24;
INSERT INTO scheds set year=2023, team=12, week=8, opponent=-8;
INSERT INTO scheds set year=2023, team=12, week=9, opponent=14;
INSERT INTO scheds set year=2023, team=12, week=11, opponent=21;
INSERT INTO scheds set year=2023, team=12, week=12, opponent=-20;
INSERT INTO scheds set year=2023, team=12, week=13, opponent=-10;
INSERT INTO scheds set year=2023, team=12, week=14, opponent=3;
INSERT INTO scheds set year=2023, team=12, week=15, opponent=-16;
INSERT INTO scheds set year=2023, team=12, week=16, opponent=20;
INSERT INTO scheds set year=2023, team=12, week=17, opponent=5;
INSERT INTO scheds set year=2023, team=12, week=18, opponent=-24;
13
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=13, week=1, opponent=-26;
INSERT INTO scheds set year=2023, team=13, week=2, opponent=25;
INSERT INTO scheds set year=2023, team=13, week=3, opponent=-5;
INSERT INTO scheds set year=2023, team=13, week=4, opponent=-2;
INSERT INTO scheds set year=2023, team=13, week=5, opponent=21;
INSERT INTO scheds set year=2023, team=13, week=6, opponent=23;
INSERT INTO scheds set year=2023, team=13, week=7, opponent=22;
INSERT INTO scheds set year=2023, team=13, week=8, opponent=-7;
INSERT INTO scheds set year=2023, team=13, week=9, opponent=-10;
INSERT INTO scheds set year=2023, team=13, week=11, opponent=26;
INSERT INTO scheds set year=2023, team=13, week=12, opponent=-23;
INSERT INTO scheds set year=2023, team=13, week=13, opponent=31;
INSERT INTO scheds set year=2023, team=13, week=14, opponent=-6;
INSERT INTO scheds set year=2023, team=13, week=15, opponent=28;
INSERT INTO scheds set year=2023, team=13, week=16, opponent=17;
INSERT INTO scheds set year=2023, team=13, week=17, opponent=-18;
INSERT INTO scheds set year=2023, team=13, week=18, opponent=-25;
14
dict_keys([23, 1, 6, 3, 29, 4, 5, 31, 7, 8, 9, 10, 32, 2, 30, 12, 20, 13, 24, 14, 15, 16, 17, 18, 19, 21, 22, 25, 26, 27, 11, 28])
32
INSERT INTO scheds set year=2023, team=14, week=1, opponent=-24;
INSERT INTO scheds set year=2023, team=14, week=2, opponent=-16;
INSERT INTO scheds set year=2023, team=14, week=3, opponent=8;
INSERT INTO scheds set year=2023, team=14, week=4, opponent=-3;
INSERT INTO scheds set year=2023, team=14, week=5, opponent=18;
INSERT INTO scheds set year=2023, team=14, week=6, opponent=29;
INSERT INTO scheds set year=2023, team=14, week=7, opponent=-21;
INSERT INTO scheds set year=2023, team=14, week=8, opponent=16;
INSERT INTO scheds set year=2023, team=14, week=9, opponent=-12;
INSERT INTO scheds set year=2023, team=14, week=11, opponent=20;
INSERT INTO scheds set year=2023, team=14, week=12, opponent=-19;
INSERT INTO scheds set year=2023, team=14, week=13, opponent=-28;
INSERT INTO scheds set year=2023, team=14, week=14, opponent=11;
INSERT INTO scheds set year=2023, team=14, week=15, opponent=19;
INSERT INTO scheds set year=2023, team=14, week=16, opponent=7;
INSERT INTO scheds set year=2023, team=14, week=17, opponent=-6;
INSERT INTO scheds set year=2023, team=14, week=18, opponent=3;
15